*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    /* Primary */
    --pr-BrightBlue: hsl(220, 98%, 61%);
    --pr-CheckBackground: ;

    /* Light Theme */
    --lt-VeryLightGray: hsl(0, 0%, 98%);
    --lt-VeryLightGrayishBlue: hsl(236, 33%, 92%);
    --lt-LightGrayishBlue: hsl(233, 11%, 84%);
    --lt-DarkGrayishBlue: hsl(236, 9%, 61%);
    --lt-VeryDarkGrayishBlue: hsl(235, 19%, 35%);

    /* Font */
    --fs: 18px;
    --fw-light: 400;
    --fw-thick: 700;

    --main: white;
    --main-2: white;
    --main-3: rgb(1, 18, 69)
}

.dark {
    --main: hsl(235, 21%, 11%);
    --main-2: hsl(235, 24%, 19%);
    --main-3: hsl(0, 0%, 100%);
    --lt-VeryLightGray: hsl(0, 0%, 100%);
    --lt-DarGrayishBlue: hsl(236, 33%, 92%);
    --lt-VeryDarkGrayishBlue: hsl(236, 33%, 92%);
    --darkGrayishBlue: hsl(234, 11%, 52%);
    --lt-LightGrayishBlue: hsl(234, 11%, 52%);
    --veryDarkGrayishBlue: hsl(233, 14%, 35%);
    --veryDarkGrayishBlue: hsl(237, 14%, 26%);
}

body {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    font-size: var(--fs);
    background-color: var(--main);
}

.bg_light {
    max-width: 100%;
    height: 300px;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
    z-index: -100;
    position: absolute;
}
.mobile_light {
    max-width: 100%;
    height: 250px;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
    display: none;
    position: absolute;
    z-index: -300;
}

main {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

main > p {
    color: var(--lt-DarkGrayishBlue);
    font-size: .7em;
    align-self: center;
    margin-top: 20px;
}

.head {
    display: flex;
    justify-content: space-between;
    gap: 20rem;
}

.head h1 {
    color: var(--lt-VeryLightGray);
    font-weight: var(--fw-thick);
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: .3ch;
}

.head img {
    align-self: center;
    cursor: pointer;
}

.inputDiv {
    background-color: var(--main-2);
    /* height: 40px; */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    gap: 10px
}

.inputToDo {
    height: 35px;
    width: 95%;
    border: none;
    outline: none;
    font-size: 1.2rem;
    background-color: var(--main-2);
    caret-color: var(--pr-BrightBlue);
    color: var(--main-3);
}

.radioToDo {
    width: 25px;
    height: 25px;
    border: 1px solid var(--lt-DarkGrayishBlue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listButtom {
    display: flex;
    justify-content: space-between;
}

.toDoList {
    border-radius: 6px;
    padding: 10px 0px 0px 0px;
    background-color: var(--main-2);
    box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.34);
-webkit-box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.34);
-moz-box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.34);
}

.inputDiv.item {
    justify-content: space-between;
    border-radius: 0px;
    font-weight: var(--fw-thick);
    align-items: center;
    cursor: pointer;
    padding: 15px 35px;
    border-bottom: 1px solid var(--lt-LightGrayishBlue);
    background-color: var(--main-2);
    font-size: 1rem;

    & p {
        margin-top: 5px;
        color: var(--lt-VeryDarkGrayishBlue);
        color: var(--main-3);
    }
}

.listButtom {
    padding: 20px;
    font-size: .9rem;
    color: var(--lt-DarkGrayishBlue);

    & > p:nth-of-type(2) {
        cursor: pointer;
        &:hover {
            color: var(--lt-VeryDarkGrayishBlue)
        }
    }
}

.active {
    color: var(--pr-BrightBlue);
    font-weight: var(--fw-thick);
}

.tab {
    cursor: pointer;
    margin-right: 2px;
}

.tab:hover {
    color: var(--lt-VeryDarkGrayishBlue);
    font-weight: var(--fw-thick);
}

.it {
    display: flex;
    gap: 20px;
}

.clear {
    display: none;
}

.checked {
    text-decoration: line-through;
    color: gray !important;
}

.radioCheck {
    background-image: linear-gradient(120deg, hsl(280, 87%, 65%), hsl(192, 100%, 67%));
}

@media screen and (max-width: 500px){
    .bg_light {
        display: none;
    }
    .mobile_light {
        display: block;
    }
    .head {
        gap: 10px;
    }
    .listButtom {
        gap: 10px;
        font-size: .6em;
    }
}